.nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(11, 163, 223);
    height: 50px;
}
/* Medium screens */
@media all and (min-width: 651px) and (max-width: 900px) {}

/* Small screens */
@media all and (min-width: 250px) and (max-width: 650px) {}